.btn{
 display:inline-block; 
 width:63px; 
 height:27px; 
 margin-left:10px; 
 text-align:center; 
 line-height:27px; 
 background:url(../images/btn03.gif) no-repeat;
 color:#333;
}
.current { 
	padding-left:20px; 
	line-height:34px; 
	color:#494a4c; 
	background:url(../images/icon.png) no-repeat 0 -315px;
	}
.current a {
	color:#494a4c;
	}
.tab{
	text-align: center;
	width:100%
}
.name{
	width:100px;
}
.box{
	width:50px;
}
.number{
	width:100px;
}
.content{
	width:700px;
}
.operation{
	width:200px;
}

a:link {
	color: #000;
	text-decoration: none;
}		/* 未访问的链接 */
a:visited {
	color: #000;
	text-decoration: none;
	}	/* 已访问的链接 */
a:hover {
	color: blue; 
	text-decoration: underline;
}		/* 鼠标移动到链接上，须在link，visited后 */
a:active {
	color: #000; 
	text-decoration: none;
}